<div>
<form method="POST" action="<%= id %>">
				<div class="list-group-item">

					<div class="form-group">

						<p><label for="name">name: </label> <input name="name" class="form-control" type="text"> </p>
						<p><label for="email">email:</label> <input name="email" class="form-control" type="text"> </p>
						<p><label for="phone">phone:</label> <input name="phone" class="form-control" type="text"> </p>
						<p><label for="url">url:</label> <input name="url" class="form-control" type="text"> </p>
						<p><label for="notes">notes:</label></p>
						<textarea class="form-control" name="notes" rows="3"></textarea>
					</div>


					
						<button class="btn btn-default" type="submit">
							<span class="glyphicon glyphicon-ok"></span>
							<span> Add</span>
						</button>

					
				</div></form>
			</div>